body {
  color: #212529;
  text-align: left;
  background-color: #fff;
}

@font-face {
  font-family: Phagspa;
  src: url(./assets/fonts/phagspa.ttf);
}

@font-face {
  font-family: GT-America;
  src: url(./assets/fonts/GTAmericaBold.ttf);
}

.phagspa {
  font-family: Phagspa !important;
}

.gtamerica {
  font-family: GT-America !important;
}

.link {
  color: #0056b3;
}

.link:hover {
  text-decoration: underline;
}
